<h2>Área para miembros</h2>

<p>
    Bienvenido <b>{{request.user.username}}</b>, 
    esta página es exclusiva para usuarios registrados.
</p>
<a href=https://www.gameshaha.net/super-mario-bros/>
<img src="https://webgames.host/uploads/2016/09/super-mario-bros-164x164.png" alt = "error!!!"  height="100" width="100" >	
</a>

<a href=https://www.gameshaha.net/galaga-plus/>
<img src="https://webgames.host/uploads/2019/03/galaga-plus-164x164.png" alt = "error!!!"  height="100" width="100" >	
</a>

<a href=https://www.gameshaha.net/pacman/>
<img src="https://webgames.host/uploads/2015/10/pacman-164x164.png" alt = "error!!!"  height="100" width="100" >	
</a>

<hr />
<a href="/logout">Cerrar sesión</a>